<div class="container">
  <div class="card-trip">
    <% unless @list.photo.key.nil? %>
      <img src='<%= cl_image_path @list.photo.key %>'/>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h1><%= @list.name.capitalize %></h1>
        <p> <%= @list.movies.length %> movies</p>
      </div>
      <div class="flex-end">
        <%= link_to "Lists", lists_path, class: "btn btn-success" %>
        <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
        <%= link_to "Delete List", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>

  <h3 class="my-3">Movies</h3>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card m-4">
      <h3 class="card-header"><%= bookmark.movie.title %></h3>
      <div class="card-body">
        <p class="card-title"><%= bookmark.movie.overview%></p>
        <p class="card-title"><i class="fa-solid fa-star"></i><%= bookmark.movie.rating %></p>
        <p class="card-title"><i class="fa-solid fa-quote-left"></i> <i><%= bookmark.comment %></i></p>
        <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>

  <h3 class="my-3">Reviews</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <% @list.reviews.each do |review| %>
          <div class="card p-3">
            <p><i class="fa-solid fa-quote-left"></i> <i> <%= review.comment %> </i></p>
            <p> <%= review.rating%><i class="fa-regular fa-star"></i></p>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="bg-white border p-3 sticky-top">
          <div class="row justify-content-center">
            <%= simple_form_for [@list, @review] do |f| %>
              <%= f.input :comment %>
              <%= f.input :rating, collection: 0..5 %>
              <%= f.submit class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
